!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title="Canvas_svg"
    %link{:rel => "stylesheet", :href => "/stylesheets/all.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/normalize.css"}
  %body
    %canvas#canvas
  %script{:src => "/javascripts/all.js"}
