!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title="Test Canvas - SVG"
    = stylesheet_link_tag "all", "normalize"
    -# %link{:rel => "stylesheet", :href => "stylesheets/all.css"}
    -# %link{:rel => "stylesheet", :href => "stylesheets/normalize.css"}
    = javascript_include_tag "HyperTree/HypertreeModule"
    = javascript_include_tag "debug"
  %body
    %h1
      CANVAS
    %canvas{:id => "canvas", :width => "400", :height => "300"}
    %h1
      SVG
    %svg{:id => "svg", :width => "400", :height => "300"}
  -# il faut mettre la définition des class, méthodes et fonctions avant leur appel !! draw devra donc être en dernier.
  = javascript_include_tag "HyperTree/NoeudVisu", "HyperTree/ArreteVisu", "HyperTree/draw"
  
