!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title="Canvas_svg"
    %link{:rel => "stylesheet", :href => "stylesheets/all.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/normalize.css"}
  %body
    %canvas{:id => "canvas", :width => "400", :height => "300"}
  %script{:src => "javascripts/all.js"}
