!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title="Test Canvas - SVG"
    = stylesheet_link_tag "all", "normalize"
    -# %link{:rel => "stylesheet", :href => "stylesheets/all.css"}
    -# %link{:rel => "stylesheet", :href => "stylesheets/normalize.css"}
  %body
    %h1
      CANVAS
    %canvas{:id => "canvas", :width => "400", :height => "300"}
    %h1
      SVG
    %svg{:id => "svg", :width => "400", :height => "300"}
      %line#ligne1_svg
      %rect#rectangle1_svg
      %rect#rectangle2_svg
  -# %script{:src => "javascripts/all.js"}
  -# "GraphVisu", "ArreteVisu"
  -# il faut mettre la définition des class, méthodes et fonctions avant leur appel !! draw devra donc être en dernier.
  = javascript_include_tag "NoeudVisu", "draw"
  
